<a [routerLink]="['/quotes-list']">Back</a>
<br />
<h2 class="page-header">Edit Quote</h2>

<div class="row">
<div class="col-md-2">
  <p><img src={{imageUrl}} class="img-responsive" alt="Responsive image" /></p>
</div>
</div>
<hr>
<form (submit)="onEditSubmit()">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" [(ngModel)]="title" name="title">
  </div>
  <div class="form-group">
    <div class="form-group">
      <label for="sel1">Select Category:</label>
      <select class="form-control" [(ngModel)]="category" name="category" required>
    <option></option>
    <option>Inspirational</option>
    <option>Motivational</option>
    <option>Love</option>
    <option>Life</option>
    <option>Funny</option>
    <option>Proverbs</option>
  </select>
    </div>
  </div>
  <div class="form-group">
    <label>Image Url</label>
    <input class="form-control" type="text" [(ngModel)]="imageUrl" name="imageUrl" imageUrl>
  </div>
  <input type="submit" value="SAVE" class="btn btn-success">
</form>